version: 2
jobs:
  build:
    working_directory: ~/maprules
    docker:
      - image: circleci/node:10.7.0
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: install dependencies
          command: 'npm install --save sqlite3 && npm install'

      - run:
          name: build
          command: |
            mkdir db
            npm run build

      - run:
          name: fixture
          command: 'NODE_ENV=testing npm run fixture'
      - run:
          name: test
          command: 'npm test'

